<div>
  <label>Name:</label>
  <input type="text" name="name" [(ngModel)]="name"/>
  <label>Phone:</label>
  <input type="text" name="phone"  [(ngModel)]="phone"/>
  <label>Email:</label>
  <input type="text" name="email"  [(ngModel)]="email"/>
  <button (click)="add()">Dodaj</button>
</div>
