<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <a routerLink="/" routerLinkActive="active">Lista</a>
    <a routerLink="/add" routerLinkActive="active">Dodaj</a>
    <router-outlet></router-outlet>
</div>

