<div class="item-style">
  <span><b>Name:</b></span>{{contact.name}}
  <span><b>Phone number:</b></span>{{contact.phone}}
  <span><b>Phone email:</b></span>{{contact.email}}
  <div class="delete-button" (click)="delete(contact.id)">X</div>
</div>